@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap'); 


html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    
}

.container {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr; 
    height: 100%;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #0284c7;
}

.head-main {
    grid-column: 2 / 3;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 4fr;
}


/* Side Bar */

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 342px auto;
    height: 100%;
    color: white;
    font-family: 'Sofia Sans';
}

.title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
}

.title > img {
    padding-left: 28px;
}

.title > h1 {
    justify-self: start;
}


.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.nav-buttons > p,
.settings > p {
    justify-self: start;
    font-size: 20px;
}

.nav-buttons > img,
.settings > img {
    padding-left: 24px;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 4fr;
    justify-items: center;
    align-items: center;
}

#bot {
    align-self: end;
    margin: 0;
    padding-bottom: 10px;
}

#top {
    align-self: start;
    margin: 0;
    padding-top: 10px;
}

/* Header of Page */

.header {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
    font-size: 26px;
    gap: 30px;
    padding-left: 25px;
    font-family: 'Sofia Sans';

}

.search > input {
    width: 600px;
    height: 35px;
    border-radius: 20px;
    background-color: #cdd1df;
    border: none;
}

#profile {
    width: 60px;
    height: 60px;
    
    border-radius: 50px;
    background-image: url(pexels-pixabay-36717.jpg);
    background-size: cover;
}

.search > *:nth-child(2) {
    margin-right: 400px;
}

