
html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    
}

.container {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr; 
    height: 100%;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #0284c7;
}

.head-main {
    grid-column: 2 / 3;
    background-color: aliceblue;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 2fr;
    height: 100%;
    color: white;
}